<!DOCTYPE html>
{% load static %}
<html x-data="{ 'theme': localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') }" :data-theme="theme">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block metadata %}
      <title>
        {% block title %}Habits{% endblock %}
      </title>
    {% endblock metadata %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script defer src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.css">
  </head>
  <body>
    <header>
    </header>
    <main class="container">
      <nav>
        <ul>
          <li>
            <h1>Habits</h1>
          </li>
        </ul>
        <ul>
          <li>
            <a href="{% url 'habit_list' %}">My Habits</a>
          </li>
          <li>
            <button class="outline" @click="theme = theme === 'light' ? 'dark' : 'light'; localStorage.setItem('theme', theme)">
              <span x-show="theme === 'dark'" aria-label="Turn off dark mode">🌙</span>
              <span x-show="theme === 'light'" aria-label="Turn on dark mode">☀️</span>
            </button>
          </li>
          <details class="dropdown">
            <summary>Menu</summary>
            <ul dir="rtl">
              <li>
                <a href="{% url 'admin:index' %}">Admin</a>
              </li>
              <li>
                <a href="https://half-empty.fly.dev/" target="_blank">Todos</a>
              </li>
              <li>
                <a href="https://brian-works-out.netlify.app/" target="_blank">Workouts</a>
              </li>
            </ul>
          </details>
        </ul>
      </nav>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
