{% extends 'base.html' %}
{% block content %}
  <style>
  .w-100 {
    width: 100%;
  }
  .fit-content {
    width: fit-content !important;
  }
  .space-between {
    display: flex;
    justify-content: space-between;
  }
  .baseline {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  </style>
  <div x-data="{ open: false }">
    <article>
      {{ date_form }}
      <footer class="space-between">
        <div class="baseline">
          <a href="{% url 'habit_list' %}?date={{ prev_date|date:"Y-m-d" }}"><<</a>
          {% if next_date %}
            <a href="{% url 'habit_list' %}?date={{ next_date|date:"Y-m-d" }}">>></a>
            <a href="{% url 'habit_list' %}">Today</a>
          {% endif %}
        </div>
        <div>
          <button @click="open = true">Add</button>
        </div>
      </footer>
    </article>
    <script>document.addEventListener('DOMContentLoaded', () => flatpickr('#id_date', {maxDate: new Date()}));</script>
    <div id="habit-list">
      <dialog :open="open" x-init="open = false">
        <article>
          <h2>Add a Habit</h2>
          {% include 'habits/partials/_habit_form.html' with habit_form=habit_form %}
          <footer>
            <button class="secondary" @click="open = false">Cancel</button>
            <button class="fit-content" type="submit" form="add-form">Confirm</button>
          </footer>
        </article>
      </dialog>
      {% regroup object_list|dictsort:"is_bad" by is_bad as groups %}
      {% for group in groups %}
        <h2>{% if group.grouper %}Bad{% else %}Good{% endif %} Habits</h2>
        {% for habit in group.list %}
          {% include 'habits/partials/_habit.html' with habit=habit %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
