{% extends 'base.html' %}
{% block content %}
  <article>
    <header>
      <h2>{{ object.name }}</h2>
    </header>
    <p>{{ object.streak_text }}</p>
    <table>
      <thead>
        <tr>
          <th>Today</th>
          <th>Week</th>
          <th>Month</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{% if object.completed_today == object.is_bad %}❌{% else %}✅{% endif %}</td>
          <td>{{ stats.week.completions }} / {{ stats.week.days }}</td>
          <td>{{ stats.month.completions }} / {{ stats.month.days }}</td>
          <td>{{ stats.year.completions }} / {{ stats.year.days }}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Longest Streak</th>
          <th>Current Streak</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ object.longest_streak }}</td>
          <td>{{ object.current_streak }}</td>
        </tr>
      </tbody>
    </table>
    <footer>
      <a href="{% url 'habit_list' %}">Back</a>
    </footer>
  </article>
{% endblock %}
