{% extends 'base.html' %}
{% block content %}
  <article>
    <header>
      <h2>{{ object.name }}</h2>
    </header>
    <p>
      {% if object.stats.on_streak %}
        {% if object.stats.completed_today %}
          🎉 Congratulations! You're streak is {{ object.stats.current_streak }} day
          {% if object.stats.current_streak > 1 %}s{% endif %}
          and counting.
        {% else %}
          ⏳ Your {{ object.stats.current_streak }} day streak is on the line!
        {% endif %}
      {% else %}
        🌱 Complete this habit to start a new streak
      {% endif %}
    </p>
    <table>
      <thead>
        <tr>
          <td>Week</td>
          <td>Month</td>
          <td>Year</td>
          <td>Longest Streak</td>
          <td>Current Streak</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ object.stats.week.completions }} / {{ object.stats.week.days }}</td>
          <td>{{ object.stats.month.completions }} / {{ object.stats.month.days }}</td>
          <td>{{ object.stats.year.completions }} / {{ object.stats.year.days }}</td>
          <td>{{ object.stats.longest_streak }}</td>
          <td>{{ object.stats.current_streak }}</td>
        </tr>
      </tbody>
    </table>
    <footer>
      <a href="{% url 'habit_list' %}">Back</a>
    </footer>
  </article>
{% endblock %}
